body {
  font-family: $primary-font, sans-serif; 
  font-size: 16px;
  font-weight: 400;
  position: relative;
  background-color: #fff;
  margin: 0;
}

// nastavení velikosti písma
:root {
  font-size: 100%;
}

body.no-scroll{
  overflow: hidden;
}



*, ::after, ::before {
  box-sizing: border-box;
}


// základní nastavení respo
@-ms-viewport { width: device-width; }
img, svg {
  display: inline-block;
  border: none;
  max-width: 100%;
  height: auto;
}

