
//font-size Př. .fs-1, fs-12
$i: 10;
@while $i < 41 {
    .fs-#{$i}{font-size: #{$i}px !important};
    $i: $i + 1;
}

//font-weight  Př. .fw-100, .fw-200
$i: 100;
@while $i < 901 {
    .fw-#{$i}{font-weight: #{$i} !important};
    $i: $i + 100;
}


//margin + padding po 10px
$i: 10;
@while $i < 201 {
    .mt-#{$i}{margin-top: #{$i}px !important};
    .mr-#{$i}{margin-right: #{$i}px !important};
    .mb-#{$i}{margin-bottom: #{$i}px !important};
    .ml-#{$i}{margin-left: #{$i}px !important};

    .pt-#{$i}{padding-top: #{$i}px !important};
    .pr-#{$i}{padding-right: #{$i}px !important};
    .pb-#{$i}{padding-bottom: #{$i}px !important};
    .pl-#{$i}{padding-left: #{$i}px !important};

    $i: $i + 10;
}


 @media (max-width: $xl){
    .rwd-xl-mt-20{margin-top: 20px !important;}

 }

 @media (max-width: $lg){
   $i: 10;
   @while $i < 31 {
       .rwd-lg-mt-#{$i}{margin-top: #{$i}px !important};
       .rwd-lg-mr-#{$i}{margin-right: #{$i}px !important};
       .rwd-lg-mb-#{$i}{margin-bottom: #{$i}px !important};
       .rwd-lg-ml-#{$i}{margin-left: #{$i}px !important};

       .rwd-lg-pt-#{$i}{padding-top: #{$i}px !important};
       .rwd-lg-pr-#{$i}{padding-right: #{$i}px !important};
       .rwd-lg-pb-#{$i}{padding-bottom: #{$i}px !important};
       .rwd-lg-pl-#{$i}{padding-left: #{$i}px !important};

       $i: $i + 10;
   }
}

@media (max-width: $md){
   $i: 10;
   @while $i < 31 {
       .rwd-md-mt-#{$i}{margin-top: #{$i}px !important};
       .rwd-md-mr-#{$i}{margin-right: #{$i}px !important};
       .rwd-md-mb-#{$i}{margin-bottom: #{$i}px !important};
       .rwd-md-ml-#{$i}{margin-left: #{$i}px !important};
       .rwd-md-pt-#{$i}{padding-top: #{$i}px !important};
       .rwd-md-pr-#{$i}{padding-right: #{$i}px !important};
       .rwd-md-pb-#{$i}{padding-bottom: #{$i}px !important};
       .rwd-md-pl-#{$i}{padding-left: #{$i}px !important};
       $i: $i + 10;
   }
 }
 

 @media (max-width: $sm){
      $i: 10;
      @while $i < 31 {
         .rwd-sm-mt-#{$i}{margin-top: #{$i}px !important};
         .rwd-sm-mr-#{$i}{margin-right: #{$i}px !important};
         .rwd-sm-mb-#{$i}{margin-bottom: #{$i}px !important};
         .rwd-sm-ml-#{$i}{margin-left: #{$i}px !important};
         .rwd-sm-pt-#{$i}{padding-top: #{$i}px !important};
         .rwd-sm-pr-#{$i}{padding-right: #{$i}px !important};
         .rwd-sm-pb-#{$i}{padding-bottom: #{$i}px !important};
         .rwd-sm-pl-#{$i}{padding-left: #{$i}px !important};
         $i: $i + 10;
   }
 }

 
